body {
  margin: 1px;
}

.filtro {
  display: flex;
  justify-content: space-around;
}

#f {
  margin: 0 0 0 0;
}

.card-personalizada {
  width: 300px
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}
